{% extends 'shop/base.html' %}
{% load static %}

{% block title %} Вход {% endblock %}


{% block content %}
<style>
    </style>
    <div class="auth-container">
        <div class="auth-form">
            <form class="sign" id="login-form" method="post">
                {% csrf_token %}
                <h4 class="sign-head">Вход</h4>
            
                <div class="input-data">
                    <input type="text" name="username" id="username" placeholder="введите логин">
                </div>
                <div class="input-data">
                    <input type="email" name="email" id="email" placeholder="введите email">
                </div>
                <div class="input-data">
                    <input type="password" name="password1" id="password1" placeholder="введите пароль">
                </div>
                <div class="input-data">
                    <input type="password" name="password2" id="password2" placeholder="введите пароль">
                </div>
                <div class="input-btn">
                    <input type="submit" value="Войти" id="login-submit">
                </div>
                <div class="input-data">
                    <p>Уже есть аккаунт? - <a href="{% url 'login' %}">Авторизируйтесь!</a></p>
                <div>
            </form>
        </div>
    </div>
{% endblock %}