{% extends 'shop/base.html' %}
{% load static %}

{% block title %} Ювелирный магазин {% endblock %}


{% block content %}
<div class="main-information">
    <div class="text-about-us">
        <h1 class="animated">Sunshine Autos</h1>
        <h4 class="undertext">Добро пожаловать в мир страсти к автомобилям и яркого солнца – добро пожаловать в Sunshine Autos!</h4>
        <h4 class="undertext">Sunshine Autos – это не просто место, где вы можете приобрести свой идеальный автомобиль, это настоящий ковчег для автолюбителей всех эпох и вкусов. Наша компания специализируется на предоставлении широкого ассортимента автомобилей, начиная от изысканных ретро-моделей, напоминающих о золотой эре автомобильной индустрии, и заканчивая современными авто, созданными с учетом последних технологических достижений.</h4>
        <h4 class="undertext">Что делает Sunshine Autos особенным? Мы не просто продаем автомобили, мы предлагаем путешествие в мир увлечений и стиля. Наша команда профессионалов знает о каждом автомобиле в нашем ассортименте, как о собственном, и готова поделиться этим знанием с вами. Мы стремимся сделать покупку автомобиля у нас не просто транзакцией, а ярким событием в вашей жизни.</h4>
        <h4 class="undertext">Независимо от того, ищете ли вы легендарный ретро-кабриолет для ветреных прогулок или современный семейный автомобиль для беззаботных поездок, Sunshine Autos – ваш надежный партнер в мире автомобилей.</h4>
    </div>
</div>

{% endblock %}