{% extends 'shop/base.html' %}
{% load static %}

{% block title %} Sunshine {% endblock %}


{% block content %}
<div class="main-information">
    <div class="text-inform">
        <h1 class="animated">Сопровождает</h1>
        <h1 class="animated">в пути</h1>
        <div class="inform-link">
            <a href="{% url 'catalog' %}"><div class="inform-btn read">Перейти к каталогу</div></a>
        </div>
    </div>
</div>


<div class="newproducts">
    <div class = "newproduct">
        <h1>Ретро автомобили</h1>
    </div>
    {% for product in products %}
                <a href="{% url 'product-detail' product.id%}" style="text-decoration: none; color: inherit;">
                    <div class="product-card">
                        <img src="{{product.car_picture.url}}" alt="{{product.name}}">
                        <h2 class="product-title">{{product.car_make}} {{product.car_model}}</h2>
                        <p class="product-price">{{product.car_price}} $</p>
                    </div>
                </a>
    {% endfor %}
    </div>

{% endblock %}