{% extends 'shop/base.html' %}
{% load static %}

{% block title %} Sunshine Autos | Каталог {% endblock %}


{% block content %}
<div class="product">
    <div class="product-image">
        <img src="{{product.car_picture.url}}" alt="Картинка {{product.car_make}}">
    </div>
    <div class="product-description">
        <h1>{{product.car_make}} {{product.car_model}}</h1>
        <p>{{product.car_type}}</p>
        <p>{{product.car_color}}</p>
        <p>{{product.description}}</p>
        <p class="price">{{product.car_price}} $</p>
        <a href="{% url 'basket_add' product.id %}">
            <button class="buy-button">Добавить в корзину</button></a>
    </div>
</div>

{% endblock %}